:root {
  --gray-color: #4d6276;
  --light-blue-color: #dfefff;
}

body,
html {
  font-family: "Open Sans";
  height: 100%;
  font-size: 18px;
  line-height: 24px;
  color: var(--gray-color);
}

input {
  border: 1px solid var(--gray-color);
}

button {
  background: var(--gray-color);
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

button:hover:not(:disabled) {
  background: #3d5266;
}

button:disabled {
  opacity: 0.7;
}
